* {
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}


:root {
  --fs-xsm: 14px;
  --fs-2xsm: 15px;
  --fs-sm: 14px;
  --fs-2sm: 17px;
  --fs-md: 13px;
  --fs-2md: 24px;
  --fs-lg: 30px;
  --fs-2lg: 32px;
  --fs-xl: 40px;
  --fs-2xl: 42px;
  --fs-3xl: 29px;
  --fs-4xl: 39px;
  --fs-5xl: 24px;
  /****COLORS*****/
  --clr-lightdark: #5C5C5C;
  --clr-green: #1AD079;
  --clr-grey: #4A4A4A;
  --clr-dark: #B5B8C4;
  --clr-lightgrey: #B8BCC7;
  --clr-textdark: #4D4D4D;
  --clr-lightwhite: #B4B7C5;
}

.text_green {
  color: var(--clr-green) !important;
}

.fs_xsm {
  font-size: var(--fs-xsm)
}

.fs_2xsm {
  font-size: var(--fs-2xsm)
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_2sm {
  font-size: var(--fs-2sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_2md {
  font-size: var(--fs-2md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_2lg {
  font-size: var(--fs-2lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.fs_5xl {
  font-size: var(--fs-5xl);
}

.bg_grey {
  background-color: #F7F7F7 !important;
}

.bg_darkblue {
  background-color: #07133B;
}

.bg_green {
  background-color: var(--clr-green);
}

.text_lightblack {
  color: #5C5C5C !important;
}

.text_dark {
  color: var(--clr-textdark) !important;
}

.clr_light_dark {
  color: var(--clr-dark) !important;
}

.text_grey {
  color: var(--clr-grey) !important;
}

.text_lightdark {
  color: var(--clr-textdark) !important;
}

.bg_lightblue {
  background-color: #141F45 !important;
}

@media (min-width:576px) {
  :root {
    --fs-xsm: 14px;
    --fs-2xsm: 15px;
    --fs-sm: 16px;
    --fs-2sm: 17px;
    --fs-md: 20px;
    --fs-2md: 24px;
    --fs-lg: 30px;
    --fs-2lg: 32px;
    --fs-xl: 40px;
    --fs-2xl: 42px;
    --fs-3xl: 45px;
    --fs-4xl: 49px;
    --fs-5xl: 45px;
  }
}

@media (min-width:768px) {
  :root {
    --fs-xsm: 14px;
    --fs-2xsm: 15px;
    --fs-sm: 14px;
    --fs-2sm: 17px;
    --fs-md: 20px;
    --fs-2md: 24px;
    --fs-lg: 30px;
    --fs-2lg: 32px;
    --fs-xl: 40px;
    --fs-2xl: 42px;
    --fs-3xl: 45px;
    --fs-4xl: 49px;
    --fs-5xl: 60px;
  }
}
@media (min-width:992px) {
  :root {
    --fs-xsm: 14px;
    --fs-2xsm: 15px;
    --fs-sm: 16px;
    --fs-2sm: 17px;
    --fs-md: 20px;
    --fs-2md: 24px;
    --fs-lg: 30px;
    --fs-2lg: 32px;
    --fs-xl: 40px;
    --fs-2xl: 42px;
    --fs-3xl: 45px;
    --fs-4xl: 49px;
    --fs-5xl: 60px;
  }
}